.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    padding: 8px 14px;
}

.alert a {
    color: #C09853;
    font-weight: bold;
}
