.boxed-group {
    background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 3px 3px 3px 3px;
    margin: 0 0 15px;
    padding: 3px;
    position: relative;
}

.boxed-group > h3,
.boxed-group .heading {
    background-color: #E0E0E0;
    background-image: linear-gradient(#FAFAFA, #E0E0E0);
    background-repeat: repeat-x;
    border-color: #D8D8D8 #D8D8D8 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-width: 1px 1px medium;
    font-size: 14px;
    margin: 0;
    padding: 10px 10px 11px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.boxed-group .boxed-group-inner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-color: #CCCCCC #D8D8D8 #D8D8D8;
    border-image: none;
    border-right: 1px solid #D8D8D8;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    font-size: 13px;
}

.boxed-group-inner {
	padding: 0px;
}

.boxed-group-inner.content {
	padding: 15px;
}

.boxed-group-inner .data-list {
	border-top: none;
}

.boxed-group-inner .data-list > li {
	border-bottom: 1px solid #E5E5E5;
	display: block;
	line-height: 23px;
	padding: 5px 10px;
	position: relative;
}

.boxed-group-inner .data-list > li:last-child {
	border-bottom: none;
}

.boxed-group-inner .data-list .actions {
	right: 10px;
}