form.horizontal .control-label {
    float: left;
    text-align: right;
    width: 100px;
}

form.horizontal .control-group {
    clear: both;
    margin-bottom: 10px;
}

form.horizontal .controls {
    margin-left: 120px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button,
label,
input,
select,
textarea {
    line-height: 20px;
}

input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

button,
label,
select,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

button,
input[type="reset"],
input[type="submit"],
a.button {
    margin-right: 10px;
}
