form.horizontal .control-label {
    float: left;
    text-align: right;
    width: 150px;
}

form.horizontal .control-group {
    clear: both;
    margin-bottom: 10px;
}

form.horizontal .controls {
    margin-left: 170px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button,
label,
input,
select,
textarea {
    line-height: 20px;
}

input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

label,
select,
input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

textarea {
    height: 100px;
}

select {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    font-family: inherit;
    font-size: 14px;
    margin-right: 5px;
    outline: medium none;
    padding: 3px;
    width: 415px;
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
textarea {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    font-family: inherit;
    font-size: 14px;
    margin-right: 5px;
    outline: medium none;
    padding: 6px;
    width: 400px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
textarea:focus {
    border-color: #51A7E8;
}

.lbl-collection input[type="checkbox"] {
    margin-right: 10px;
}

.lbl-collection label {
    background-color: #F9F9F9;
    border: 1px solid #DDD;
    border-radius: 5px;
    float: left;
    margin: 0px 10px 10px 0px;
    padding: 3px 5px;
}
