a {
    color: #4183C4;
    text-decoration: none;
}

a.action {
    color: #DD0000;
    text-decoration: underline;
}

body {
    background-color: #FFF;
    font-family: arial, verdana, courier;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

header {
    background: gradient(#333, #FFF);
    background-color: #F3F3F3;
    border-bottom: 1px solid #E5E5E5;
    height: 40px;
    line-height: 40px;
}

header h1 {
    margin: 0px;
}

header a {
    color: #333;
}

header h1 a {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: -1px;
}

header nav ul {
    float: right;
}

header nav a {
    display: block;
    font-weight: bold;
    padding: 0px 15px;
    text-decoration: none;
}

header nav img {
    float: left;
    margin: 10px 10px 0px 0px;
	width: 20px;
}

.pull-left { float: left; }
.pull-right { float: right; }

h1 {
    color: #495961;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}

h2 {
    color: #495961;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}

p {
	margin-bottom: 10px;
}

.page-header {
    margin-top: 20px;
}

.page-content {
    margin-top: 10px;
}

.data-list {
    border-top: 1px solid #DDD;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.data-list > li {
    border-bottom: 1px solid #DDDDDD;
    list-style-type: none;
    padding: 8px 0;
    position: relative;
}

.data-list .title {
    font-size: 16px;
    font-weight: bold;
}

.data-list .description {
    color: #999999;
    font-size: 12px;
}

.data-list .actions {
    margin: -12px 0 0;
    position: absolute;
    right: 0;
    top: 50%;
}

.data-list .actions li {
    display: inline-block;
    margin: 0 0 0 5px;
}

.news {
    border-bottom: 1px solid #F1F1F1;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 0px 0px 15px 0px;
    position: relative;
}

.news time {
    color: #BBBBBB;
    font-size: 12px;
}

.news .title {
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
}

.news .title time {
    font-weight: normal;
}

.news .title span {
    background: -moz-linear-gradient(#E1E1E1, #D5D2D2) repeat scroll 0 0 transparent;
    border-radius: 4px;
    color: #FFF;
    font-size: 11px;
    font-weight: normal;
    padding: 3px 5px;
}

.news.created .title span {
    background: -moz-linear-gradient(#8ADD6D, #60B044) repeat scroll 0 0 transparent;
}

.news.deleted .title span {
    background: -moz-linear-gradient(#DC5F59, #B33630) repeat scroll 0 0 transparent;
}

.news .commits {
    margin-top: 5px;
}

.news .message {
    color: #666666;
    display: inline-block;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}