.section-list {
    background: none repeat scroll 0 0 #FAFAFB;
}

.section-list a {
    border-bottom: 1px solid #EEEEEE;
    border-left: 2px solid #FAFAFB;
    display: block;
    padding: 8px 10px 8px 8px;
    text-shadow: 0 1px 0 #FFFFFF;
}
