table.calendar {
    border-collapse: collapse;
    width: 100%;
}

table.calendar td, table.calendar th {
    border: 1px solid #CCC;
}

table.calendar th {
    background-color: #DEDEDE;
    text-align: center;
}

table.calendar th div {
    padding: 5px;
}

table.calendar td div {
    min-height: 75px;
    padding: 5px;
    width: 115px;
}

table.calendar td.today {
    background-color: #EDEDED;
}

table.calendar td.previous, table.calendar td.next {
    background-color: #F9F9F9;
}