.calendar {
    margin: 0px auto;
}

.calendar .calendar-row {
    clear: both;
}

.calendar .calendar-column:first-child {
    border-left: 1px solid #EEE;
}

.calendar .calendar-column {
    background-color: #F9F9F9;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    color: #666;
    float: left;
    line-height: 70px;
    padding: 5px;
    text-align: center;
    width: 100px;
}

.calendar .calendar-header .calendar-column {
    border-top: 1px solid #EEE;
    line-height: 20px;
    font-weight: bold;
}

.calendar .previous,
.calendar .next {
    color: #BBB;
}

.calendar .today {
    background-color: #EFEFEF;
    border-bottom: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    font-weight: bold;
}
