.autocomplete ul.results {
    background-color: #FAFAFA;
    border: 1px solid #51A7E8;
    border-top: 0px;
    border-radius: 0px 0px 3px 3px;
    display: none;
    left: 5px;
    position: absolute;
    top: 25px;
    width: 255px;
}

.autocomplete ul.results li {
    border-top: 1px solid #51A7E8;
    color: #666;
    cursor: pointer;
    padding: 2px 5px;
}
