body {
    font-size: 13px/1.7em;
    font-family: arial, verdana, courier;
    overflow-y: scroll;
}

h1 {
    font-size: 30px;
    line-height: 36px;
}

#header {
    background: linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
}

#header .navbar {
    margin: 0px;
}

#header .navbar-inner {
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    border: 0px;
    box-shadow: none;
}

#footer {
    background: linear-gradient(#EAEAEA, #FAFAFA) repeat scroll 0 0 transparent;
    border-top: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
    color: #999;
    font-size: 10px;
    padding: 20px 0px;
}

#footer a {
    color: #999;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #999;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 6px #999;
    outline: 0 none;
}

.main-content {
    margin-top: 20px;
}
