.data-list {
    border-top: 1px solid #DDD;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.data-list > li {
    border-bottom: 1px solid #DDD;
    padding: 10px 0px;
    position: relative;
}

.data-list .title {
    font-size: 14px;
    font-weight: bold;
}

.data-list .description {
    color: #999;
    font-size: 12px;
}

.data-list .actions {
    margin: -12px 20px 0px 0px;
    position: absolute;
    right: 0;
    top: 50%;
}

.data-list .actions li {
    display: inline-block;
    margin: 0 0 0 5px;
}
