.tip {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFDE;
    border-color: #E4E4C6 #EFF2C7 #EFF2C7 #E4E4C6;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #6D6D4B;
    font-size: 12px;
    margin: 0px 0px 15px 0px;
    padding: 10px;
}

.tip a {
    color: #666;
    font-weight: bold;
}

.tip h3 {
    font-size: 13px;
    line-height: 20px;
    margin: 0px 0px 10px 0px;
}

.tip p {
    margin-bottom: 5px;
}
