.settings-table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

.settings-table td {
    padding: 4px 0px;
}

.settings-table .name {
    width: 150px;
}

.settings-table .valid {
    color: green;
}

.settings-table .invalid {
    color: red;
}
