.calendar.month {
    border-collapse: collapse;
    margin: 0px auto;
    width: 100%;
}

.calendar.month th {
    background-color: #F9F9F9;
    border: 1px solid #EEE;
    color: #666;
}

.calendar.month th,
.calendar.month td {
    padding: 5px;
    text-align: center;
    width: 1%;
}

.calendar.month td {
    border: 1px solid #EEE;
    line-height: 70px;
}

.calendar.month td.previous,
.calendar.month td.next {
    color: #BBB;
}

.calendar.month td.today {
    background-color: #EFEFEF;
    border: 1px solid #DEDEDE;
    font-weight: bold;
}
